{% extends "layout.html" %}


{% block title %}
    Add Friends
{% endblock %}

{% block main %}
    <!-- Title -->
    <h1 id="title">Add A Friend</h1>

    <!-- Break -->
    </br>

    <!-- Form to add friends -->
    <form action="/add_friends" method="post">

        <!-- Username input -->
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>

        <!-- Break -->
        </br>

        <!-- Button to submit form -->
        <button class="btn btn-outline-light btn-block btn-lg" type="submit">
            <div id="button">
                Add Friend
            </div>
        </button>

    </form>
{% endblock%}