{% extends "layout.html" %}


{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <!-- Form to change password -->
    <form action="/change_password" method="post">

        <!-- Text input field for current password -->
        <div class="form-group">
            <input autocomplete="off" id="long" autofocus class="form-control" name="current_password" placeholder="Enter Current Password" type="password">
        </div>

        <!-- Text input field for current password -->
        <div class="form-group">
            <input autocomplete="off" id="long" class="form-control" name="new_password" placeholder="Enter New Password" type="password">
        </div>

        <!-- Text input field for password confirmation -->
        <div class="form-group">
            <input autocomplete="off" id="long" class="form-control" name="confirmation" placeholder="Confirm New Password" type="password">
        </div>

        <!-- Button to submit form -->
        <button class="btn btn-outline-light btn-block btn-lg" type="submit"><div id="button">Change Password</div></button>
    </form>
{% endblock%}