{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form action="/login" method="post">

        <!-- Input field for username -->
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>

        <!-- Input field for password -->
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>

        <!-- Button to log in -->
        <button class="btn btn-outline-light btn-lg" type="submit">Log In</button>
    </form>
{% endblock %}
