{% extends "layout.html" %}

{% block title %}
    Read Chats
{% endblock %}

{% block main %}

  <h1 id="title">Read Chats</h1>

  <!-- Lists each read message addressed to the current user -->
  {% for rows in rows %}

    <!-- Collapsible displays key information about the message -->
    <button id="rounded" class="collapsible">
      <table id="table">
        <thead>
          <tr>

            <!-- Header displays sender, time, and subject of the message -->
            <th>
              <div align="left">
                <b style="color: white;">Subject: {{ rows["subject"] }}</b>
              </div>
            </th>

            <th>
              <div align="center" style="color: white;">From: {{ rows["firstname"] }} {{ rows["lastname"] }}</div>
            </th>

            <th>
              <div style="color: white;" align="right">Time Sent: {{ rows["time"] }}</div>
            </th>

          </tr>
        </thead>
      </table>
    </button>

    <!-- Content displays the message sent to the user -->
    <div id="rounded" class="content">
      </br>
      <p align="left">{{ rows["message"] }}</p>

      <!-- Button to reply to chat -->
      <form style="display: inline;" id="form" action="{{ url_for('reply', sender=rows['sender'], time=rows['time']) }}" method='get'>
        <button class="btn btn-outline-dark" type="submit">
          <div id="chatbutton">
            Reply
          </div>
        </button>
      </form>

      </br>
      </br>

    </div>
    </br>
  {% endfor %}

  <!-- Horizontal line to divide content -->
  <hr style="border: 2px solid white;">

  </br>

  <!-- Button to view unread message -->
  <form action="/chat" method='get'>
    <button class="btn btn-outline-light btn-block" type="submit">
      <div id="button">
        View Unread Messages
      </div>
    </button>
    </br>
  </form>

  <form action="/view_sent" method='post'>
    <button class="btn btn-outline-light btn-block" type="submit">
      <div id="button">
        View Sent Messages
      </div>
    </button>
  </form>

  <!-- Styling for collapsible copied from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_collapsible_animate -->
  <script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++)
    {
      coll[i].addEventListener("click", function()
      {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.maxHeight)
        {
          content.style.maxHeight = null;
        }
        else
        {
          content.style.maxHeight = content.scrollHeight + "px";
        }
      });
    }
  </script>


{% endblock %}